/* General Styles */
.home-container {
  width: 100%;
    margin: 0 auto;
    display: grid;

  }
  
  /* Hero Section */
 /* Hero Section */
.home-container .hero {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    width: 100%;
  }
  
  .hero-img {
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    object-fit: cover;
    filter: brightness(50%); /* Makes the image dark */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ensure this matches the height of the image */
    background: rgba(0, 0, 0, 0.282); /* Semi-transparent black overlay */
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .text h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .text p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  /* About Us Section */
  .aboutus {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .aboutus-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .aboutus-img {
    max-width: 300px;
    margin: 20px;
  }
  
  .aboutus p {
    max-width: 600px;
    margin: 20px;
  }
  
  /* Rooms Section */
  .rooms {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .rooms-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 300px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card h3 {
    margin-top: 10px;
  }
  
  /* Contact Section */
  .contact {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .help{
    display: flex;
    justify-content: space-around;
  }

  .contact form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .contact label {
    margin: 10px 0 5px;
  }
  
  .contact input,
  .contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact button:hover {
    background-color: #45a049;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .aboutus-content {
      flex-direction: column;
    }
  
    .rooms-cards {
      flex-direction: column;
    }
  
    .hero-img {
      height: 200px; /* Adjust the height for smaller screens if needed */
    }
  }
  