/* navbar.css */
.navbar {
  width: 100%;
  background-color: #0a0a0a;
  color: white;
  padding: 10px 0;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .avinya-logo {
  width: 80px;
  height: auto;
}

.logo h2 {
  margin: 0;
  font-size: 1.5em;
}

.nav-ele ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-ele li {
  margin: 0 15px;
}

.nav-ele a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-ele li span {
  color: white;
}

.nav-ele a:hover {
  color: #ddd;
}

.username {
  color: rgb(255, 110, 87);
  font-size: 20px;
  font-weight: bold;
}

.nav-ele li button {
  background-color: #c92020;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-ele {
    display: none;
  }
  .navbar nav {
    justify-content: space-between;
  }
}

/* Mobile Menu */
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu-toggle span {
    background-color: white;
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    transition: background-color 0.3s;
  }

  .navbar nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-ele {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #444;
  }

  .nav-ele li {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  .nav-ele a {
    font-size: 1.2em;
  }
}
